<form method="POST" action="/recipes">
    <p>
        Recipe Name:
        <input type="text" id="name" name="recipe[name]"></p>
    <p>
        Ingredients:
        <input type="text" id="ingredients" name="recipe[ingredients]"></p>
        <p>
            Cook Time:
            <input type="number" id="cook_time" name="recipe[cook_time]"></p>

    <input type="submit" id="submit" value="submit"></form>
